/*Overwrite boostrap defaults*/
.btn-custom-main {
  border: none;
  background: #609966;
  color: white;
}
.btn-custom-main:hover {
  background: #568c5b;
  color: #fff
}
.btn-custom-secondary {
  background: #eaeaea;
  opacity: 0.95;
}
.btn-custom-secondary:hover {
  background: #fff;
  opacity: 1;
}

.gradient-background {
    background: linear-gradient(to bottom, #4B79A1, #283E51);
}

.fancy-bg {
  background:
    /* top, transparent black, faked with gradient */
    linear-gradient(
      rgba(0, 0, 0, 0.3),
      rgba(0, 0, 0, 0.3)
    ),
      /* bottom, image */
    url('background-images/pexels1.jpeg');
  background-size: cover;
}

.brand-name {
  font-family: 'Cedarville Cursive', cursive;
  font-size: 5rem;
  color: white;
  text-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
}

.icon-size {
    font-size: 48px;
}

.clear-btn {
    padding: 0;
    margin-left: -40px !important;
    z-index: 100 !important;
}

.sm-icon-size {
    font-size: 24px;
}

.glowing-border {
    border-radius: 50rem;

    outline:none;
    border: 1px solid #4195fc;
    box-shadow: 0px 0px 14px #4195fc;
    -moz-box-shadow: 0px 0px 14px #4195fc;
    -webkit-box-shadow: 0px 0px 14px #4195fc;
}

.glowing-border:focus {
  outline:none;
  border: 1px solid #4195fc;
  box-shadow: 0px 0px 14px #4195fc;
  -moz-box-shadow: 0px 0px 14px #4195fc;
  -webkit-box-shadow: 0px 0px 14px #4195fc;
}

.search-input-border {
  border: none;
  opacity: 0.95;
  border-radius: 50px;
  padding: 15px 30px;
  box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;;
}
.search-input-border:focus {
  box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
  opacity: 1;
  border: none;
}

.mt-25 {
    margin-top: 15rem
}

.max-width-600 {
    max-width: 100%;
    width: 600px;
}

.max-width-1300 {
    max-width: 100%;
    width: 1300px;
}

.mr-3 {
    margin-right: 1rem
}

.btn-3 {
    width: 10rem
}

.switch-label {
    width: auto;
}

@media (max-width: 640px) {
    .btn-3 {
        width: 100%;
    }
    .mr-3 {
        margin-right: 0;
        margin-bottom: 0.5rem
    }
    .mt-25 {
        margin-top: 3rem
    }
    .switch-label {
        width: min-content;
    }
}

.input-bg {
    background-color: #eaeaea;
}

.output-bg {
    background-color: #eaeaea;
}

.output-box {
  border: none;
  box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
  opacity: 0.95!important;
}

.btn-col {
    background-color: #1d4ed8;
}

.custom-modal {
    background-color: rgba(0, 0, 0, 0.5);
}

.close-button{
  color: #555;
}

.form-switch .form-check-input:focus {
  border-color: rgba(0, 0, 0, 0.25);
  outline: 0;
  box-shadow: 0 0 0 0 rgba(0, 0, 0, 0);
  background-image: url("data:image/svg+xml,<svg xmlns='http://www.w3.org/2000/svg' viewBox='-4 -4 8 8'%3e%3ccircle r='3' fill='rgba(0,0,0,0.25)'/></svg>");
}
.form-switch .form-check-input:checked {
  background-color: #609966;
  border-color: #609966;
  border: none;
  background-image: url("data:image/svg+xml,<svg xmlns='http://www.w3.org/2000/svg' viewBox='-4 -4 8 8'%3e%3ccircle r='3' fill='rgba(255,255,255,1.0)'/></svg>");
}
